$primary-colour: hsl(0, 36%, 70%);
$accent-colour: hsl(0, 93%, 68%);
$dark-colour: hsl(0, 6%, 24%);
$gradient-active: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-button: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$font: "Josefin Sans", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background: $gradient-active;
}

main {
  min-height: 100vh;
}

#logo,
.text-wrapper {
  width: 80%;
  margin: auto;
}

#logo {
  margin: 2rem auto;
  img {
    max-width: 35%;
  }
}

.hero--mobile {
  width: 100%;
}

.text-wrapper {
  padding: 4rem 0;
  text-align: center;
}

.title {
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: $dark-colour;

  span {
    color: $primary-colour;
    font-weight: 300;
  }
}

.text {
  margin: 1.5rem 0 2rem 0;
  font-size: 0.85rem;
  color: $primary-colour;
  line-height: 1.5;
}

.form-wrapper {
  border: 1px solid $primary-colour;
  input {
    background: (0, 100%, 98%);
    color: $primary-colour;
    border: none;
  }
}

.submit--button {
  background: $gradient-button;
  border: none;
}

.invisible {
  display: none;
}
